doctype html 
html 
    head 
        title Main Page 
        meta(charset='utf-8')
        style
            include ../stylesheets/mainpage.css
    body.main-area
        form(action='/main' method='get')
            p 
                h2 검색하고 싶은 선수의 등번호를 입력해주세요.
            p 
                input.searcharea(type='text' name='backnumber')
            p 
                input.button(type='submit')
        br
        br
        div.position
            h2 코칭스태프
        div.table-wrapper
            table.table
                tr
                    each coach in coaches
                        td= coach.number
                tr
                    each coach in coaches
                        td= coach.name
        div.position
            h2 투수
        div.table-wrapper
            table.table
                tr
                    each pitcher in pitchers
                        td= pitcher.number
                tr
                    each pitcher in pitchers
                        td= pitcher.name
        div.position
            h2 타자
        div.table-wrapper
            table.table
                tr
                    each batter in batters
                        td= batter.number
                tr
                    each batter in batters
                        td= batter.name